html {
  height: 100%;
}

body {
  border: 10px solid #6247aa;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #bbc2e2;
  color: #6247aa;
  margin: 0 auto;
  width: 60%;
  height: 100%;
}

h1 {
  text-align: center;
}

.buttons {
  margin: auto;
  text-align: center;
}

.playButton {
  border: 5px solid #6247aa;
  cursor: pointer;
  background-color: #cfccd6;
  color: #6247aa;
}

.playButton:hover {
  background-color: #b7b5e4;
}

#msgBoard {
  border: 5px solid #6247aa;
  text-align: center;
  margin: 7% auto;
  width: 70%;
  height: 20%;
  padding: 10px;
}

#restartButton {
  border: 5px solid #6247aa;
  cursor: pointer;
  background-color: #cfccd6;
  text-align: center;
  color: #6247aa;
  width: 30%;
  height: 5em;
  padding: 5px;
}

#restartButton:hover {
  background-color: #b7b5e4;
}